<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.mapper.ProductWebMapper" >
  <resultMap id="BaseResultMap" type="com.hx.pojo.ProductWeb" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="web_name" property="webName" jdbcType="VARCHAR" />
    <result column="web_brief" property="webBrief" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="web_category" property="webCategory" jdbcType="VARCHAR" />
    <result column="web_picture" property="webPicture" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="extend_1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend_2" property="extend2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, web_name, web_brief, website, web_category, web_picture, remark, extend_1, extend_2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hx.pojo.ProductWebExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_web
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_web
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_web
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hx.pojo.ProductWebExample" >
    delete from product_web
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hx.pojo.ProductWeb" >
    insert into product_web (id, web_name, web_brief, 
      website, web_category, web_picture, 
      remark, extend_1, extend_2
      )
    values (#{id,jdbcType=INTEGER}, #{webName,jdbcType=VARCHAR}, #{webBrief,jdbcType=VARCHAR}, 
      #{website,jdbcType=VARCHAR}, #{webCategory,jdbcType=VARCHAR}, #{webPicture,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hx.pojo.ProductWeb" >
    insert into product_web
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="webName != null" >
        web_name,
      </if>
      <if test="webBrief != null" >
        web_brief,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="webCategory != null" >
        web_category,
      </if>
      <if test="webPicture != null" >
        web_picture,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="extend1 != null" >
        extend_1,
      </if>
      <if test="extend2 != null" >
        extend_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="webName != null" >
        #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webBrief != null" >
        #{webBrief,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="webCategory != null" >
        #{webCategory,jdbcType=VARCHAR},
      </if>
      <if test="webPicture != null" >
        #{webPicture,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hx.pojo.ProductWebExample" resultType="java.lang.Integer" >
    select count(*) from product_web
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_web
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.webName != null" >
        web_name = #{record.webName,jdbcType=VARCHAR},
      </if>
      <if test="record.webBrief != null" >
        web_brief = #{record.webBrief,jdbcType=VARCHAR},
      </if>
      <if test="record.website != null" >
        website = #{record.website,jdbcType=VARCHAR},
      </if>
      <if test="record.webCategory != null" >
        web_category = #{record.webCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.webPicture != null" >
        web_picture = #{record.webPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.extend1 != null" >
        extend_1 = #{record.extend1,jdbcType=VARCHAR},
      </if>
      <if test="record.extend2 != null" >
        extend_2 = #{record.extend2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_web
    set id = #{record.id,jdbcType=INTEGER},
      web_name = #{record.webName,jdbcType=VARCHAR},
      web_brief = #{record.webBrief,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR},
      web_category = #{record.webCategory,jdbcType=VARCHAR},
      web_picture = #{record.webPicture,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      extend_1 = #{record.extend1,jdbcType=VARCHAR},
      extend_2 = #{record.extend2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hx.pojo.ProductWeb" >
    update product_web
    <set >
      <if test="webName != null" >
        web_name = #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webBrief != null" >
        web_brief = #{webBrief,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="webCategory != null" >
        web_category = #{webCategory,jdbcType=VARCHAR},
      </if>
      <if test="webPicture != null" >
        web_picture = #{webPicture,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        extend_1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend_2 = #{extend2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hx.pojo.ProductWeb" >
    update product_web
    set web_name = #{webName,jdbcType=VARCHAR},
      web_brief = #{webBrief,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      web_category = #{webCategory,jdbcType=VARCHAR},
      web_picture = #{webPicture,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      extend_1 = #{extend1,jdbcType=VARCHAR},
      extend_2 = #{extend2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCount" resultType="Integer">
    select count(1) from product_web
    <where>
      <if test="id != null and id != ''"> and id = #{id} </if>
      <if test="webName != null and webName != ''"> and web_name like concat('%',#{webName,jdbcType=VARCHAR},'%') </if>
      <if test="webCategory != null and webCategory != ''"> and web_category like concat('%',#{webCategory,jdbcType=VARCHAR},'%') </if>
      <if test="webBrief != null and webBrief != ''"> and web_brief like concat('%',#{webBrief,jdbcType=VARCHAR},'%') </if>

    </where>
  </select>
  <select id="listPage" resultType="com.hx.pojo.ProductWeb">
    select * from product_web
    <where>
      <if test="id != null and id != ''"> and id = #{id} </if>
      <if test="webName != null and webName != ''"> and web_name like concat('%',#{webName,jdbcType=VARCHAR},'%') </if>
      <if test="webCategory != null and webCategory != ''"> and web_category like concat('%',#{webCategory,jdbcType=VARCHAR},'%') </if>
      <if test="webBrief != null and webBrief != ''"> and web_brief like concat('%',#{webBrief,jdbcType=VARCHAR},'%') </if>

    </where>

    <if test="offset != null and limit != null">
      limit #{offset}, #{limit}
    </if>
  </select>
  <delete id="deleteByIds" parameterType="java.util.List" >
    delete from product_web
    <where> id in
      <foreach collection="ids"  item="item" open="(" separator="," close=")"  >
        #{item}
      </foreach>
    </where>
  </delete>
</mapper>