<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hx.common.dao.LogDao">

	<select id="get" resultType="com.hx.domain.LogDO">
		select `id`,`organization`,`user_id`,`username`,`title`,`type`,`operation`,`time`,`http`,`method`,`params`,`ip`,`sys`,`gmt_create`  from sys_log where id = #{value}
	</select>

	<select id="list" resultType="com.hx.domain.LogDO">
		select `id`,`organization`,`user_id`,`username`,`title`,`type`,`operation`,`time`,`http`,`method`,`params`,`ip`,`sys`,`gmt_create`  from sys_log
        <where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="organization != null and organization != ''"> and organization = #{organization} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="username != null and username != ''"> and username LIKE concat(concat('%',#{username}),'%') </if>
			<if test="title != null and title != ''"> and title = #{title} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="operation != null and operation != ''"> and operation = #{operation} </if>
			<if test="time != null and time != ''"> and time = #{time} </if>
			<if test="http != null and http != ''"> and http = #{http} </if>
			<if test="method != null and method != ''"> and method = #{method} </if>
			<if test="params != null and params != ''"> and params = #{params} </if>
			<if test="ip != null and ip != ''"> and ip = #{ip} </if>
			<if test="sys != null and sys != ''"> and sys = #{sys} </if>
			<if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_log
		 <where>
			 <if test="id != null and id != ''"> and id = #{id} </if>
			 <if test="organization != null and organization != ''"> and organization = #{organization} </if>
			 <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			 <if test="username != null and username != ''"> and username = #{username} </if>
			 <if test="title != null and title != ''"> and title = #{title} </if>
			 <if test="type != null and type != ''"> and type = #{type} </if>
			 <if test="operation != null and operation != ''"> and operation = #{operation} </if>
			 <if test="time != null and time != ''"> and time = #{time} </if>
			 <if test="http != null and http != ''"> and http = #{http} </if>
			 <if test="method != null and method != ''"> and method = #{method} </if>
			 <if test="params != null and params != ''"> and params = #{params} </if>
			 <if test="ip != null and ip != ''"> and ip = #{ip} </if>
			 <if test="sys != null and sys != ''"> and sys = #{sys} </if>
			 <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hx.domain.LogDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_log
		(
			`user_id`, 
			`username`, 
			`title`,
			`type`,
			`operation`,
			`time`,
			`http`,
			`method`,
			`params`,
			`ip`,
			`sys`,
			`gmt_create`
		)
		values
		(
			#{userId}, 
			#{username}, 
			#{title},
			#{type},
			#{operation},
			#{time},
			#{http},
			#{method},
			#{params},
			#{ip},
			#{sys},
			#{gmtCreate}
		)
	</insert>
	 
	<update id="update" parameterType="com.hx.domain.LogDO">
		update sys_log 
		<set>
			<if test="organization != null">`organization` = #{organization}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="operation != null">`operation` = #{operation}, </if>
			<if test="time != null">`time` = #{time}, </if>
			<if test="http != null">`http` = #{http}, </if>
			<if test="method != null">`method` = #{method}, </if>
			<if test="params != null">`params` = #{params}, </if>
			<if test="ip != null">`ip` = #{ip}, </if>
			<if test="sys != null">`sys` = #{sys}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_log where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_log where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>