<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.back.mapper.HxProductMapper">

    <resultMap id="BaseResultMap" type="com.hx.back.entity.HxProduct">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="pro_id" jdbcType="VARCHAR" property="proId" />
        <result column="pro_title" jdbcType="VARCHAR" property="proTitle" />
        <result column="pro_intro" jdbcType="VARCHAR" property="proIntro" />
        <result column="pro_img" jdbcType="VARCHAR" property="proImg" />
        <result column="pro_logo_addr" jdbcType="VARCHAR" property="proLogoAddr" />
        <result column="pro_name" jdbcType="VARCHAR" property="proName" />
        <result column="pro_type" jdbcType="INTEGER" property="proType" />
        <result column="pro_link" jdbcType="VARCHAR" property="proLink" />
        <result column="pro_use_type" jdbcType="INTEGER" property="proUseType" />
        <result column="pro_use_link" jdbcType="VARCHAR" property="proUseLink" />
        <result column="pro_detil_info" jdbcType="VARCHAR" property="proDetilInfo" />
        <result column="pro_detil_img" jdbcType="VARCHAR" property="proDetilImg" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="extend_1" jdbcType="VARCHAR" property="extend1" />
        <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
        <result column="extend_3" jdbcType="VARCHAR" property="extend3" />
    </resultMap>


    <sql id="Base_Column_List">
  id, pro_id, pro_title, pro_intro, pro_img, pro_logo_addr, pro_name, pro_type, pro_link,
  pro_use_type, pro_use_link, pro_detil_info, pro_detil_img, create_user, create_time,
  update_user, update_time, remark, extend_1, extend_2, extend_3
</sql>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from hx_product
        where id = #{id}
    </delete>

    <delete id="bantchDelete" parameterType="java.lang.Integer">
      delete from hx_product
      where id in
        <foreach collection="array"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.hx.back.entity.HxProduct">
  insert into hx_product (id, pro_id, pro_title,
    pro_intro, pro_img, pro_logo_addr,
    pro_name, pro_type, pro_link,
    pro_use_type, pro_use_link, pro_detil_info,
    pro_detil_img, create_user, create_time,
    update_user, update_time, remark,
    extend_1, extend_2, extend_3
    )
  values (#{id,jdbcType=INTEGER}, #{proId,jdbcType=VARCHAR}, #{proTitle,jdbcType=VARCHAR},
    #{proIntro,jdbcType=VARCHAR}, #{proImg,jdbcType=VARCHAR}, #{proLogoAddr,jdbcType=VARCHAR},
    #{proName,jdbcType=VARCHAR}, #{proType,jdbcType=INTEGER}, #{proLink,jdbcType=VARCHAR},
    #{proUseType,jdbcType=INTEGER}, #{proUseLink,jdbcType=VARCHAR}, #{proDetilInfo,jdbcType=VARCHAR},
    #{proDetilImg,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
    #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
    #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}
    )
</insert>


    <insert id="insertDynamic" parameterType="com.hx.back.entity.HxProduct">
        insert into hx_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="proId != null">
                pro_id,
            </if>
            <if test="proTitle != null">
                pro_title,
            </if>
            <if test="proIntro != null">
                pro_intro,
            </if>
            <if test="proImg != null">
                pro_img,
            </if>
            <if test="proLogoAddr != null">
                pro_logo_addr,
            </if>
            <if test="proName != null">
                pro_name,
            </if>
            <if test="proType != null">
                pro_type,
            </if>
            <if test="proLink != null">
                pro_link,
            </if>
            <if test="proUseType != null">
                pro_use_type,
            </if>
            <if test="proUseLink != null">
                pro_use_link,
            </if>
            <if test="proDetilInfo != null">
                pro_detil_info,
            </if>
            <if test="proDetilImg != null">
                pro_detil_img,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="extend1 != null">
                extend_1,
            </if>
            <if test="extend2 != null">
                extend_2,
            </if>
            <if test="extend3 != null">
                extend_3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="proId != null">
                #{proId,jdbcType=VARCHAR},
            </if>
            <if test="proTitle != null">
                #{proTitle,jdbcType=VARCHAR},
            </if>
            <if test="proIntro != null">
                #{proIntro,jdbcType=VARCHAR},
            </if>
            <if test="proImg != null">
                #{proImg,jdbcType=VARCHAR},
            </if>
            <if test="proLogoAddr != null">
                #{proLogoAddr,jdbcType=VARCHAR},
            </if>
            <if test="proName != null">
                #{proName,jdbcType=VARCHAR},
            </if>
            <if test="proType != null">
                #{proType,jdbcType=INTEGER},
            </if>
            <if test="proLink != null">
                #{proLink,jdbcType=VARCHAR},
            </if>
            <if test="proUseType != null">
                #{proUseType,jdbcType=INTEGER},
            </if>
            <if test="proUseLink != null">
                #{proUseLink,jdbcType=VARCHAR},
            </if>
            <if test="proDetilInfo != null">
                #{proDetilInfo,jdbcType=VARCHAR},
            </if>
            <if test="proDetilImg != null">
                #{proDetilImg,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="extend1 != null">
                #{extend1,jdbcType=VARCHAR},
            </if>
            <if test="extend2 != null">
                #{extend2,jdbcType=VARCHAR},
            </if>
            <if test="extend3 != null">
                #{extend3,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="updateDynamic" parameterType="com.hx.back.entity.HxProduct">
        update hx_product
        <set>
            <if test="proId != null">
                pro_id = #{proId,jdbcType=VARCHAR},
            </if>
            <if test="proTitle != null">
                pro_title = #{proTitle,jdbcType=VARCHAR},
            </if>
            <if test="proIntro != null">
                pro_intro = #{proIntro,jdbcType=VARCHAR},
            </if>
            <if test="proImg != null">
                pro_img = #{proImg,jdbcType=VARCHAR},
            </if>
            <if test="proLogoAddr != null">
                pro_logo_addr = #{proLogoAddr,jdbcType=VARCHAR},
            </if>
            <if test="proName != null">
                pro_name = #{proName,jdbcType=VARCHAR},
            </if>
            <if test="proType != null">
                pro_type = #{proType,jdbcType=INTEGER},
            </if>
            <if test="proLink != null">
                pro_link = #{proLink,jdbcType=VARCHAR},
            </if>
            <if test="proUseType != null">
                pro_use_type = #{proUseType,jdbcType=INTEGER},
            </if>
            <if test="proUseLink != null">
                pro_use_link = #{proUseLink,jdbcType=VARCHAR},
            </if>
            <if test="proDetilInfo != null">
                pro_detil_info = #{proDetilInfo,jdbcType=VARCHAR},
            </if>
            <if test="proDetilImg != null">
                pro_detil_img = #{proDetilImg,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="extend1 != null">
                extend_1 = #{extend1,jdbcType=VARCHAR},
            </if>
            <if test="extend2 != null">
                extend_2 = #{extend2,jdbcType=VARCHAR},
            </if>
            <if test="extend3 != null">
                extend_3 = #{extend3,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="update" parameterType="com.hx.back.entity.HxProduct">
  update hx_product
  set pro_id = #{proId,jdbcType=VARCHAR},
    pro_title = #{proTitle,jdbcType=VARCHAR},
    pro_intro = #{proIntro,jdbcType=VARCHAR},
    pro_img = #{proImg,jdbcType=VARCHAR},
    pro_logo_addr = #{proLogoAddr,jdbcType=VARCHAR},
    pro_name = #{proName,jdbcType=VARCHAR},
    pro_type = #{proType,jdbcType=INTEGER},
    pro_link = #{proLink,jdbcType=VARCHAR},
    pro_use_type = #{proUseType,jdbcType=INTEGER},
    pro_use_link = #{proUseLink,jdbcType=VARCHAR},
    pro_detil_info = #{proDetilInfo,jdbcType=VARCHAR},
    pro_detil_img = #{proDetilImg,jdbcType=VARCHAR},
    create_user = #{createUser,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=VARCHAR},
    update_user = #{updateUser,jdbcType=VARCHAR},
    update_time = #{updateTime,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    extend_1 = #{extend1,jdbcType=VARCHAR},
    extend_2 = #{extend2,jdbcType=VARCHAR},
    extend_3 = #{extend3,jdbcType=VARCHAR}
  where id = #{id,jdbcType=INTEGER}
</update>



    <select id="selectById" resultType="com.hx.back.entity.HxProductDTO">
        select
        <include refid="Base_Column_List" />
        from  hx_product
        where pro_id = #{proId,jdbcType=VARCHAR}
    </select>


    <sql id="findPageWithWhere">
        <where> 1=1
            <if test="id != null" >
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="proId != null and proId != ''" >
                and pro_id = #{proId,jdbcType=VARCHAR}
            </if>
            <if test="proTitle != null and proTitle != ''" >
                and pro_title like concat('%',#{proTitle,jdbcType=VARCHAR},'%')
            </if>
            <if test="proIntro != null and proIntro != ''" >
                and pro_intro = #{proIntro,jdbcType=VARCHAR}
            </if>
            <if test="proImg != null and proImg != ''" >
                and pro_img = #{proImg,jdbcType=VARCHAR}
            </if>
            <if test="proLogoAddr != null and proLogoAddr != ''" >
                and pro_logo_addr = #{proLogoAddr,jdbcType=VARCHAR}
            </if>
            <if test="proName != null and proName != ''" >
                and pro_name = #{proName,jdbcType=VARCHAR}
            </if>
            <if test="proType != null" >
                and pro_type = #{proType}
            </if>
            <if test="proLink != null and proLink != ''" >
                and pro_link = #{proLink,jdbcType=VARCHAR}
            </if>
            <if test="proUseType != null" >
                and pro_use_type = #{proUseType}
            </if>
            <if test="proUseLink != null and proUseLink != ''" >
                and pro_use_link = #{proUseLink,jdbcType=VARCHAR}
            </if>
            <if test="proDetilInfo != null and proDetilInfo != ''" >
                and pro_detil_info = #{proDetilInfo,jdbcType=VARCHAR}
            </if>
            <if test="proDetilImg != null and proDetilImg != ''" >
                and pro_detil_img = #{proDetilImg,jdbcType=VARCHAR}
            </if>
            <if test="createUser != null and createUser != ''" >
                and create_user = #{createUser,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null and createTime != ''" >
                and create_time = #{createTime,jdbcType=VARCHAR}
            </if>
            <if test="updateUser != null and updateUser != ''" >
                and update_user = #{updateUser,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null and updateTime != ''" >
                and update_time = #{updateTime,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''" >
                and remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="extend1 != null and extend1 != ''" >
                and extend_1 = #{extend1,jdbcType=VARCHAR}
            </if>
            <if test="extend2 != null and extend2 != ''" >
                and extend_2 = #{extend2,jdbcType=VARCHAR}
            </if>
            <if test="extend3 != null and extend3 != ''" >
                and extend_3 = #{extend3,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>


    <select id="findResultByName" parameterType="com.hx.back.entity.HxProduct" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  hx_product
        <include refid="findPageWithWhere" />
    </select>

    <select id="selectAllByPage"  resultType="com.hx.back.entity.HxProductDTO">
        select
        <include refid="Base_Column_List" />
        from  hx_product
        where 1=1
        <if test="proTitle != null and proTitle != ''" >
            and pro_title like concat('%',#{proTitle,jdbcType=VARCHAR},'%')
        </if>
        <if test="proName != null and proName != ''" >
            and pro_name like concat('%',#{proName,jdbcType=VARCHAR},'%')
        </if>
        <if test="proType != null" >
            and pro_type = #{proType}
        </if>
        <if test="proUseType != null" >
            and pro_use_type = #{proUseType}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="findPageWithCount" resultType="Integer">
        select count(1)
        from hx_product
        <include refid="findPageWithWhere" />
    </select>

    <select id="findAllCount" resultType="Integer">
        select count(1)
        from hx_product
    </select>

</mapper>